<nav>
  <section>
    <%= link_to 'New', new_snippet_path %>
  </section>
</nav>

<section>
  <% @snippets.each do |snippet| %>
    <article>
      <%= render snippet, short: true %>
      <%= link_to 'Edit', edit_snippet_path(snippet) %>
    </article>
  <% end %>
</section>